h1,h2,h3,h4,h5{
font-weight:bold;
}

* {

  margin: 0;

  padding: 0;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

}

.js_errorMessage,
.ac_footer{
  direction: ltr!important;
}

.price-block {
    text-align: center;
    margin: 20px auto;
}

.price-block .old {
    text-decoration: line-through;
}

.price-block .new {
    font-weight: 700;
    color: #fff;
    font-size: 25px;
}



body {

  font-family: 'Open Sans', sans-serif;

  line-height: 1.3;

  direction: rtl;

  /*  overflow-x: hidden;*/

}



a {

  outline: none;

}



a img {

  border: 0;

}



img {

  max-width: 100%;

}



.clearfix:after,

.row:after {

  content: "";

  display: block;

  clear: both;

}



.ttu {

  text-transform: uppercase;

}



.limit {

  margin: 0 auto;

  width: 95%;

  max-width: 480px;

  padding: 0 2.5%;

}



.hide_it {

  position: relative;

  max-width: 600px;

  width: 100%;
  padding-top:50px;

  margin: 0 auto;

  -webkit-box-shadow: 0 0 120px 12px #C5C5C5;

  box-shadow: 0 0 120px 12px #C5C5C5;

}

section.header-section{
  position:fixed;
  width:100%;
  height:50px;
  background:#fff;
  z-index:999;
  padding:10px 15px;

}
.header-section .menu-link {
    width: 34px;
    height: 30px;
    display: block;
    /* margin: 20px 0 0 20px; */
    padding: 3px 0 0 0;
    position: relative;
    cursor: pointer;
}
.header-section .menu-link.active span.item-1 {
    position: absolute;
    left: 0;
    top: 15px;
    -webkit-transform: rotate(
-45deg
);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(
-45deg
);
}
.header-section .menu-link.active span.item-2 {
    opacity: 0;
}
.header-section .menu-link.active span.item-3 {
    position: absolute;
    left: 0;
    top: 15px;
    -webkit-transform: rotate(
45deg
);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.header-section nav {
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    background: #fcab47;

}
.header-section nav ul {
    padding: 27px 0 28px;
}
.header-section nav ul li {
    float: none;
    line-height: 34px;
    text-align: center;
}
.header-section nav ul li {
    display: block;
    padding: 0;
}
.header-section nav ul li a{
color:#fff;
}
.blueprint {

  left: 794px;

  opacity: .7;

  position: absolute;

}



.btn {

  outline: none;

  display: inline-block;

  color: #ffffff;

  font-weight: bold;

  border: 0;

  cursor: pointer;

  text-align: center;

  padding: 18px;

  text-decoration: none;

  text-transform: uppercase;

}



.btn.btn-transparent {

  background: none;

  display: block;

  border: 1px solid #ff8484;

  color: #ff8484;

}



.btn.btn-transparent:hover {

  color: #ffffff;

  border-color: #fff;

}



.btn.btn-primary {

  color: #fff;

  font-size: 16px;

  padding: 20px 45px;

  /*  box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.26);*/

  background: #FF5722;

  /* background: #ffffff;

     background: -moz-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);

     background: -webkit-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);

     background: linear-gradient(to bottom, #ffffff 0%, #d0d0d0 100%);

     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0', GradientType=0);*/

}



.btn.btn-primary:hover,

.btn.btn-primary:active,

.btn.btn-primary:focus {

  color: #fff;

  background: #FF5722;

}



.btn.btn-block {

  width: 100%;

  display: block;

}



.dark-title {

  background: #2f2f2f;

  background: -webkit-linear-gradient(left, #2f2f2f 0%, #161616 100%);

  background: -webkit-gradient(linear, left top, right top, from(#2f2f2f), to(#161616));

  background: -o-linear-gradient(left, #2f2f2f 0%, #161616 100%);

  background: linear-gradient(to right, #2f2f2f 0%, #161616 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#161616', GradientType=1);

  padding: 22px 0;

  text-align: center;

}



.dark-title span {

  display: block;

  color: #fff;

  font-size: 16px;

  margin-bottom: 5px;

}



.dark-title em {

  color: #fffafa;

  font-size: 17px;

}



.block {

  padding-top: 20px;

  padding-bottom: 20px;

}



.block .image.with-label:before,

.block .description.with-label:before {

  content: '1';

  background: #F44336;

  color: #ffffff;

  display: block;

  height: 34px;

  width: 34px;

  -webkit-border-radius: 25px;

  border-radius: 25px;

  font-weight: bold;

  font-size: 16px;

  text-align: center;

  line-height: 34px;

  position: absolute;

}



.block.with-gradient {

  background: #404040;

  background: -webkit-linear-gradient(top, #939495 0%, #2b3539 100%);

  background: -webkit-gradient(linear, left top, left bottom, from(#939495), to(#2b3539));

  background: -o-linear-gradient(top, #939495 0%, #2b3539 100%);

  /* background: linear-gradient(to bottom, #939495 0%, #2b3539 100%); */
  background:linear-gradient(to bottom, #0c0c0c 31%, #fabb4f 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5391b3', endColorstr='#222c31', GradientType=0);

}



.fixed-button {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  text-align: center;

  background: #352c2c;

  padding: 5px 0;

  z-index: 19;

}



.fixed-button .btn {

  font-size: 13px;

  color: #000000;

  line-height: 1;

  padding: 10px 35px;

  background: #b4b4b4;

  background: -webkit-linear-gradient(left, #b4b4b4 0%, #fdfdfd 100%);

  background: -webkit-gradient(linear, left top, right top, from(#b4b4b4), to(#fdfdfd));

  background: -o-linear-gradient(left, #b4b4b4 0%, #fdfdfd 100%);

  background: linear-gradient(to right, #b4b4b4 0%, #fdfdfd 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b4b4', endColorstr='#fdfdfd', GradientType=1);

  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);

  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);

}



.fixed-button .btn:hover,

.fixed-button .btn:active,

.fixed-button .btn:focus {

  color: #000;

  background: #8e8e8e;

  background: -webkit-linear-gradient(left, #fdfdfd 0%, #8e8e8e 100%);

  background: -webkit-gradient(linear, left top, right top, from(#fdfdfd), to(#8e8e8e));

  background: -o-linear-gradient(left, #fdfdfd 0%, #8e8e8e 100%);

  background: linear-gradient(to right, #fdfdfd 0%, #8e8e8e 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#8e8e8e', GradientType=1);

}



.block1 {

  padding-top: 20px;

  padding-bottom: 30px;

  text-align: center;

}



.block1 img {

  display: block;

  max-width: 280px;

  margin: 0 auto 20px;

  margin-top: -5px;

}



.block1 img.body {

  margin-top: 16px;

  display: block;

  /* opacity: 0.5; */

}



.block1 .bl1-img_01 {

  display: block;

  margin-bottom: 4px;

}



.block1 .logo {

  display: block;

  margin: 0 auto;

  height: 43px;

  width: 293px;

  margin-bottom: 18px;

  line-height: 40px;

  font-size: 26px;

  text-align: center;

  color: #fff;

  text-decoration: none;

  text-transform: uppercase;

}



.block1 .title1 {

  text-align: center;

  font-family: 'Roboto', sans-serif;

  font-weight: bold;

  font-size: 31px;

  color: #ffe500;

  margin-bottom: 10px;

  margin-top: -14px;

}



.block1 .title2 {

  color: #ffffff;

  font-size: 20px;

  font-weight: lighter;

  display: block;

  text-transform: uppercase;

  margin-bottom: 20px;

}



.block1 .btn {

  margin-top: -5px;
  margin-bottom: 20px;

}



.block1 .list {

  color: #000;

  font-size: 15px;

  margin-top: 18px;

}



.block1 .list span {

  font-size: 15px;

  color: #ffffff;

  display: block;

  text-align: center;

  margin-bottom: 18px;

}



.block1 .list li {

  font-style: italic;

  text-align: right;

  list-style: none;

  position: relative;

  padding-right: 28px;

  /*    line-height: 25px;*/

  font-size: 14px;

  margin-bottom: 13px;

}



.block1 .list li:before {

  content: '';

  display: block;

  position: absolute;

  right: 0;

  top: 50%;

  margin-top: -4px;

  width: 7px;

  height: 7px;

  background: #CDDC39;

  -webkit-border-radius: 25px;

  border-radius: 25px;

}



.block1 .list ul {

  display: inline-block;

  line-height: 20px;

}



.block2 {

  padding-top: 0px;

  background: #ffffff;

  padding-bottom: 25px;

  font-style: italic;

}



.block2 .item {

  float: left;

  width: 50%;

  text-align: center;

  padding-top: 12px;

}



.block2 .item img {

  display: block;

  margin: 0 auto;

}



.block2 .item span {

  color: #030303;

  font-size: 14px;

  display: block;

  margin-top: 8px;

}



.block3 {

  padding-bottom: 23px;

}



.block3 .title {

  text-align: center;

  font-size: 18px;

  color: #fff;

}



.block3 .title span {

  display: block;

  font-weight: bold;

}



.block3 .graph {

  text-align: center;

  margin-top: 10px;

  margin-bottom: 25px;

}



.block3 .graph img {

  display: block;

  margin: 0 auto;

}



.block3 .info {

  margin-top: -10px;

  border-right: 8px solid #4c535b;

  font-size: 12px;

  color: #ffffff;

  text-align: right;

  padding: 8px 12px 8px 0;

}



.block4 {

  background: #2f2f2f;

  background: -webkit-linear-gradient(left, #2f2f2f 0%, #161616 100%);

  background: -webkit-gradient(linear, left top, right top, from(#2f2f2f), to(#161616));

  background: -o-linear-gradient(left, #2f2f2f 0%, #161616 100%);

  background: linear-gradient(to right, #2f2f2f 0%, #161616 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#161616', GradientType=1);

  padding: 22px 0;

  text-align: center;

}



.block4 span {

  display: block;

  color: #2196F3;

  font-size: 22px;

  margin-bottom: 5px;

}



.block4 em {

  color: #fffafa;

  font-size: 17px;

  font-style: italic;

}



.block5 {

  background: #c8c8c8;

  background: -webkit-linear-gradient(left, #c8c8c8 0%, #e6e6e6 100%);

  background: -webkit-gradient(linear, left top, right top, from(#c8c8c8), to(#e6e6e6));

  background: -o-linear-gradient(left, #c8c8c8 0%, #e6e6e6 100%);

  background: linear-gradient(to right, #c8c8c8 0%, #e6e6e6 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#e6e6e6', GradientType=1);

  padding: 20px 0;

}



.block5 img {

  display: block;

  margin: 0 auto;

}



.b4_l p, .b4_r p {

  margin: 0 0 30px;

  font-size: 16px;

  text-align: center;

}



.b4_l p b {

  font-weight: normal;

  color: #1d578f;

}



.b4_item {

  display: table;

  position: relative;

  background: #C8C8C8;

  margin: 0 0 20px;

  text-align: left;

  width: 100%;

  padding: 15px 0;

  font-size: 0;

}



.b4_items {

  width: 280px;

  margin: 0 auto;

}



.b4_item span:first-child {

  display: table-cell;

  font-size: 14px;

  padding-left: 10px;

  padding-right: 60px;

  color: #ffffff;

  vertical-align: middle;

  width: 80%;

  position: relative;

  z-index: 22;

}



.b4_item span:last-child {

  font-size: 14px;

  width: 20%;

  display: table-cell;

  color: #c71626;

  vertical-align: middle;

  position: relative;

  z-index: 22;

  padding-right: 10px;

}



.b4_item:after {

  content: '';

  display: block;

  position: absolute;

  left: 0;

  bottom: 0;

  top: 0;

  background: #007FBF;

  width: 75%;

}



.b4_item:nth-child(2):after {

  width: 65%;

}



.b4_item:nth-child(3):after {

  width: 65%;

}



.b4_item:nth-child(4):after {

  width: 55%;

}



.block5 .label {

  color: #fff;

  font-size: 14px;

  text-transform: uppercase;

  -webkit-transform: skew(10deg);

  -ms-transform: skew(10deg);

  transform: skew(10deg);

  background: #FFEB3B;

  padding: 19px 18px;

  max-width: 290px;

  margin: 0 auto;

  text-align: center;

}



.block5 .label span {

  display: block;

  -webkit-transform: skew(-10deg);

  -ms-transform: skew(-10deg);

  transform: skew(-10deg);

}



.block5 ol {

  list-style-type: none;

  counter-reset: num;

  margin-top: 18px;

}



.block5 ol li {

  list-style: none;

  font-style: italic;

  font-size: 15px;

  margin-bottom: 10px;

  padding: 15px 0 15px 40px;

  position: relative;

}



.block5 ol li:before {

  content: counter(num);

  counter-increment: num;

  line-height: 31px;

  display: block;

  width: 31px;

  height: 31px;

  background: #2f2f2f;

  -webkit-border-radius: 25px;

  border-radius: 25px;

  text-align: center;

  color: #fffefe;

  font-size: 16px;

  font-style: normal;

  position: absolute;

  left: 0;

  top: 50%;

  margin-top: -15px;

}



.block5 ol li:after {

  clear: both;

  content: '';

  display: block;

}



.block5 ol li:last-child {

  margin-bottom: 0;

}



.block6 {

  padding-bottom: 30px;

  text-align: center;

}



.block6 .title1 {

  color: #FFEB3B;

  font-size: 26px;

  margin-bottom: 10px;
      margin-top: 20px;

}



.block6 .title2 {

  font-size: 16px;

  color: #ffffff;

  font-style: italic;

  margin-bottom: 15px;

}



.block6 img {

  display: block;

  margin: 0 auto;

  max-width: 280px;

}



.block6 .title3 {

  margin-top: 15px;

  font-size: 16px;

  color: #FFEB3B;

  margin-bottom: 15px;

}



.block6 .description {

  margin-bottom: 35px;

  color: #ffffff;

  font-size: 14px;

  line-height: 1.2;

}



.block6 .description p {

  margin-bottom: 15px;

}



.block7 {

  text-align: center;

}



.block7 .title1 {

  line-height: 1;

  margin-bottom: 5px;

  color: #232e33;

  font-size: 24px;

}



.block7 .title1 span {

  margin-top: 8px;

  display: block;

  color: #F44336;

}



.block7 .title2 {

  color: #1a1a1a;

  font-style: italic;

  font-size: 15px;

  margin-bottom: 8px;

}



.block7 .item {

  width: 50%;

  float: left;

  padding: 0 1px;

  text-align: center;

  margin: 0 0 5px;

}



.block7 .item .image {

  position: relative;

  display: inline-block;

  width: 141px;

}



.block7 .item .image img {

  display: inline-block;

  margin: 10px 0;

}



.block7 .item .image div {

  width: 100%;

  display: table;

  bottom: 11px;

  height: 80px;

  background: #c3c3c3;

  text-align: center;

}



.block7 .item .image div span {

  height: 49px;

  display: table-cell;

  vertical-align: middle;

  color: #000;

  font-size: 10px;

  text-transform: uppercase;

  padding: 0px 5px;
  font-size: 18px;

}



.block8 {

  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;

}



.block8 .dark-title {

  padding: 0;

}



.block8 .dark-title .table {

  display: table;

  width: 100%;

  text-align: left;

  margin-bottom: 20px;

}



.block8 .dark-title .table span {

  display: inline-block;

  vertical-align: middle;

  width: 50%;

  padding: 20px 0;

}



.block8 .dark-title .table span.label {

  font-size: 16px;

  border-right: 1px solid #4b4b4b;

  padding-right: 10px;

  color: #FFEB3B;

}



.block8 .dark-title .table span.label span {

  color: #fff;

  font-size: 16px;

  display: inline;

}



.block8 .dark-title .table span.value {

  width: 50%;

  padding-right: 10px;

  font-size: 11px;

  color: #a2a2a2;

  text-align: right;

}



.block8 .item {

  margin-top: 12px;

  margin-bottom: 15px;

}



.block8 .item .image {

  margin-bottom: 8px;

  text-align: center;

}



.block8 .item .description {

  position: relative;

  padding-right: 50px;

  text-align: right;

}



.block8 .item .description span {

  font-size: 24px;

  text-transform: uppercase;

  color: #414141;

  margin-bottom: 8px;

  display: block;

}



.block8 .item .description:before {

  right: 0;

  top: 0;

}



.block8 .item .description p {

  color: #414141;

  font-size: 13px;

}



.block8 .item:nth-child(2) .description:before {

  content: '2';

}



.block8 .item:nth-child(3) .description:before {

  content: '3';

}



.block8 .item:nth-child(4) .description:before {

  content: '4';

}



.block9 {

  text-align: center;

}



.block9 .title1 {

  color: #FFEB3B;

  font-size: 18px;

  margin-bottom: 2px;

}



.block9 .title1 span {

  display: inline-block;

  color: #fff;

  font-size: 18px;

  margin-bottom: 8px;

}



.block9 .title3 {

  color: #242f35;

  font-size: 13px;

  font-style: italic;

}



.block9 .bl9-hr {

  height: 1px;

  color: #fff;

  opacity: .3;

  display: block;

  margin-top: 12px;

  margin-bottom: 7px;

}



.block9 .compare {

  max-width: 320px;

  margin: 8px auto 0;

}



.block9 .compare .tooltip {

  position: absolute;

  width: 100%;

  line-height: 15px;

  padding: 5px;

  color: #ffffff;

  font-size: 10px;

  text-align: center;

  background: #253239;

}



.block9 .compare .tooltip:before {

  left: -9px;

}



.block9 .compare .tooltip:after {

  width: 8px;

  right: -8px;

  background-position: -9px 0;

}



.block9 .compare .tooltip.tooltip-shoulder {

  top: 0;

  left: 0;

}



.block9 .compare .tooltip.tooltip-waist {

  top: 0;

  left: 0;

}



.block9 .compare .tooltip.tooltip-hip {

  bottom: 0;

  left: 0;

}



.block9 .compare .tooltip i {

  height: 1px;

  position: absolute;

  right: 0;

  top: 16px;

  display: block;

  z-index: 0;

}



.block9 .compare .side {

  position: relative;

  width: 50%;

  float: left;

}



.block9 .compare .side .image {

  position: relative;

  width: 130px;

  height: 250px;

  padding: 50px 0 0;

}



.block9 .compare .side .image img {

  display: block;

  

  margin: 0 auto;

}



.block9 .compare .side .image .weight {

  display: none;

}



.block9 .compare .side.before .tooltip i {

  background: #f05353;

}



.block9 .compare .side.before .tooltip.tooltip-shoulder i {

  right: -132px;

  width: 132px;

}



.block9 .compare .side.before .tooltip.tooltip-waist i {

  right: -220px;

  width: 220px;

}



.block9 .compare .side.before .tooltip.tooltip-hip i {

  right: -142px;

  width: 142px;

}



.block9 .compare .side.after .weight {



}



.block9 .compare .side.after .tooltip {

  background: #FF5722;

}



.block9 .compare .side.after .tooltip i {

  background: #ffb400;

  right: auto;

  left: 0;

}



.block9 .compare .side.after .tooltip.tooltip-shoulder i {

  left: -122px;

  width: 122px;

}



.block9 .compare .side.after .tooltip.tooltip-waist i {

  left: -154px;

  width: 154px;

}



.block9 .compare .side.after .tooltip.tooltip-hip i {

  left: -152px;

  width: 152px;

}



.block9 .compare .side.after .tooltip:before {

  background-position: -16px 0;

}



.block9 .compare .side.after .tooltip:after {

  background-position: -26px 0;

}



.block9 .title4 {

  font-size: 30px;

  color: #FFEB3B;

  margin-top: 20px;

}



.block9 .title5 {

  color: #acd52f;

  font-size: 21px;

  margin-bottom: 5px;

}



.block9 .title6 {

  color: #292929;

  font-size: 14px;

  font-style: italic;

}



.block9 .chain .item {

  width: 50%;

  float: left;

  margin-top: 15px;

  margin-bottom: 22px;

  position: relative;

}



.block9 .chain .item img {

  display: block;

  margin: 0 auto;

}



.block9 .chain .item:after {

  content: '';



  width: 13px;

  height: 25px;

  position: absolute;

  top: 50%;

  margin-top: -12px;

  right: -7px;

}



.block9 .chain .item:nth-child(2):after {

  top: auto;

  bottom: -28px;

  left: 50%;

  margin-left: -7px;

  right: auto;

  -webkit-transform: rotate(90deg);

  -ms-transform: rotate(90deg);

  transform: rotate(90deg);

}



.block9 .chain .item:nth-child(3):after {

  display: none;

}



.block9 .chain .item:last-child:after {

  right: auto;

  left: -6px;

  -webkit-transform: rotate(180deg);

  -ms-transform: rotate(180deg);

  transform: rotate(180deg);

}



.block10 {

  background-color: #162329;

  text-align: center;

}



.block10 .title1 {

  color: #7f767b;

  font-size: 14px;

  font-style: italic;

  margin-bottom: 4px;

}



.block10 .title2 {

  color: #d4282c;

  font-size: 20px;

  margin-bottom: 30px;

}



.block10 .row {

  text-align: center;

}



.block10 .row>div {

  position: relative;

  width: 50%;

  float: left;

}



.block10 .row>div>div {

  position: relative;

  display: inline-block;

}



.block10 .row>div span {

  z-index: 10;

  position: absolute;

  right: -16px;

  top: -20px;

  height: 48px;

  width: 48px;

  -webkit-border-radius: 125px;

  border-radius: 125px;

  line-height: 48px;

  text-align: center;

  color: #fffefe;

  font-size: 9px;

  text-transform: uppercase;

}



.block10 .row>div img {

  /* border: 1px solid #000;*/

}



.block10 .row>div.before {

  text-align: right;

}



.block10 .row>div.before span {

  background: #353535;

}



.block10 .row>div.after {

  text-align: left;

}



.block10 .row>div.after span {

  background: #d4282c;

  right: -12px;

}



.block11 .title {

  color: #162329;

  font-size: 24px;

  text-align: center;

  margin-bottom: 10px;

}



.block11 .item {

  margin-bottom: 20px;

  outline: none;

  padding-top: 18px;

}



.block11 .item .image {

  position: relative;

}



.block11 .item .image span.minus {

  position: absolute;

  top: -18px;

  left: 50%;

  margin-left: -29px;

  width: 59px;

  height: 59px;

  -webkit-border-radius: 125px;

  border-radius: 125px;

  background: #ffb400;

  color: #ffffff;

  font-size: 16px;

  line-height: 59px;

  text-align: center;

}



.block11 .item .image img {

  display: block;

  width: 100%;

  height: auto;

  -webkit-filter: blur(3px);

  filter: blur(3px);

}



.block11 .item .label {

  color: #414141;

  font-size: 18px;

  font-weight: bold;

  text-align: center;

  display: block;

  margin-top: 15px;

  margin-bottom: 15px;

}



.block11 .item .duration {

  margin-top: 10px;

  font-size: 14px;

  color: #162329;

  text-align: center;

  display: block;

  margin-bottom: 10px;

}



.block11 .item .result {

  height: 34px;

  line-height: 34px;

  background: #162329;

  font-size: 14px;

  padding: 0 12px;

  text-transform: uppercase;

  position: absolute;

  bottom: 0;

  width: 100%;

  left: 0;

}



.block11 .item .result span.before {

  color: #ffffff;

  float: left;

}



.block11 .item .result span.after {

  color: #959595;

  float: right;

}



.block11 .item .name {

  margin-bottom: 15px;

  color: #FFEB3B;

  text-transform: uppercase;

  font-size: 14px;

  background: #162329;

  text-align: center;

  padding: 8px;

}



.block11 .item .story {

  text-align: center;

  font-style: italic;

  padding-top: 20px;

  background: url("../img/review-quotes.png") top center no-repeat;

  color: #162329;

  font-size: 13px;

}



.block12 {

  padding-bottom: 0;

}



.block12 .title1 {

  color: #162329;

  font-size: 20px;

  font-style: italic;

  text-align: center;

  line-height: 1.2;

}



.block12 b {

  text-transform: uppercase;

  color: #1e3744;

}



.block12 .title2 {

  color: #ffffff;

  font-size: 24px;

  text-align: center;

  margin-top: 18px;

  margin-bottom: 12px;

}



.block12 img {

  display: block;

  margin: 0 auto;

  max-width: 280px;

}



.line {

  height: 2px;

  background: #dedede;

  -webkit-box-shadow: 0px 4px 12px 0px;

  box-shadow: 0px 4px 12px 0px;

}



.block12 .story {

  margin-top: 12px;

  text-align: center;

  font-style: italic;

  color: #ffffff;

  font-size: 13px;

  margin-bottom: 20px;

}



.block12 .story span {

  margin-top: 15px;

  display: block;

  color: #c1c1c1;

  margin-bottom: 5px;

}



/*.block12 .story:before {*/

/*content: 'вЂњ';*/

/*display: block;*/

/*text-align: center;*/

/*font-size: 48px;*/

/*font-style: italic;*/

/*height: 12px;*/

/*line-height: 1;*/

/*margin-bottom: 14px;*/

/*}*/

.block12 .footer {

  text-align: center;

}



.block12 .footer .title1 {

  font-style: normal;

  font-size: 21px;

  color: #ffffff;

}



.block12 .footer .title2 {

  color: #FFEB3B;

  margin-top: 0;

  margin-bottom: 32px;

  font-size: 35px;

}



.block12 .form {

  padding-bottom: 35px;

}



.block12 .form .price {

  color: #ffffff;

  font-size: 16px;

  padding: 12px 12px 0;

  margin: 18px 0;

  line-height: 1;

}



.block12 .form .price small {

  display: block;

  margin: 15px 0 5px;

}



.block12 .form .form-group {

  margin: 20px 0 0;

}



.block12 .form .form-group.buttons {

  margin-top: 15px;

}



.block12 .gray-stripe {

  width: 100%;

  display: block;

  background: #939595;

  text-align: center;

  padding-top: 5px;

  padding-bottom: 10px;

  margin-bottom: 20px;

}



.block12 .gray-stripe p {

  display: inline-block;

  width: 90%;

}



.mmmr {

  text-align: center;

  padding: 20px 0 0;

}



.mmmr div {

  display: inline-block;

  width: 128px;

  margin: 0 5px;

  font-size: 12px;

  color: #ffffff;

}



.mmmr div span {

  text-transform: uppercase;

  color: #adaeac;

  font-size: 11px;

  display: block;

  margin: 0 0 3px;

  font-weight: bold;

}



.mmmr div:nth-child(2) span {

  color: #FFEB3B;

  font-weight: bold;

}



.block12 .form input[type="text"],

.block12 .form input[type="tel"],

.block12 .form select {

  outline: none;

  line-height: normal;

  -webkit-border-radius: 0;

  border-radius: 0;

  border: 1px solid #fff;

  font-size: 14px;

  text-align: right;

  display: block;

  color: #fff;

  text-indent: 0;

  height: 40px;

  background: none;

  font-weight: normal;

  width: 100%;

  max-width: 280px;

  padding: 0 20px 0 20px;

  margin: 0 auto;

}



select {

  background-image: url("../img/sel.png") !important;

  background-position: 3% 50% !important;

  background-repeat: no-repeat !important;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  direction: rtl;

}



select::-ms-expand {

  display: none;

}



.block12 .form input[type="text"]::-webkit-input-placeholder,

.block12 .form select::-webkit-input-placeholder {

  color: #ffffff;

}



.block12 .form input[type="text"]::-moz-placeholder,

.block12 .form select::-moz-placeholder {

  color: #000;

}



.block12 .form input[type="text"]:-moz-placeholder,

.block12 .form select:-moz-placeholder {

  color: #fff;

}



.block12 .form input[type="text"]:-ms-input-placeholder,

.block12 .form select:-ms-input-placeholder {

  color: #fff;

}



.block12 .form select {

  padding-left: 20px;
  background: url(../img/sel.png) no-repeat 95%;

}



.block12 .form select option {

  color: #000;

}



/*customchanger*/

.custom-changer {

  display: inline-block;

  width: 80%;

}



.custom-changer.dark .custom-changer-tr {

  color: #fff !important;

}



.custom-changer-tr {

  display: block;

  width: 100%;

  -moz-transition: all 0.5s ease-out;

  -o-transition: all 0.5s ease-out;

  -webkit-transition: all 0.5s ease-out;

  -webkit-border-radius: 15px;

  border-radius: 15px;

  margin-bottom: 5px;

  font-size: 16px;

  line-height: 18px;

}



.custom-changer-td.fst {

  width: 40px;

  text-align: center;

}



.custom-changer-td {

  display: table-cell;

  vertical-align: middle;

  padding: 5px;

}



.js-radio-changer {

  display: inline-block;

  _display: inline;

  *zoom: 1;

  width: 15px;

  height: 15px;

  -webkit-border-radius: 15px;

  border-radius: 15px;

  border: 1px solid #3f3f3f;

  -moz-transition: all 0.5s ease-out;

  -o-transition: all 0.5s ease-out;

  -webkit-transition: all 0.5s ease-out;

}



.custom-changer-tr.hover .js-radio-changer,

.custom-changer-tr.active .js-radio-changer {

  background: #3f3f3f;

}



.custom-changer-tr.hover,

.custom-changer-tr.active {

  background: #d4282c;

  color: #000;

  cursor: pointer;

}



.custom-changer-td b {

  color: #fff !important;

}



@media only screen and (min-width: 320px) and (max-width: 480px) {

  .block7 .title1 {

    font-size: 14px;

  }



  .block8 .dark-title .table span.label {

    font-size: 10px;

  }



  .custom-changer-tr {

    font-size: 12px;

  }



  .custom-changer {

    display: inline-block;

    width: 100%;

  }

}



.price span {

  font-weight: bold;

  font-style: italic;

  display: block;

}



.old-price {

  color: #e2e2e2;

  text-decoration: line-through;

  margin-bottom: 10px;

}



.new-price {

  color: #dc0000;

  font-size: 26px;

}



.slick-prev, .slick-next {

  position: absolute;

  width: 20px;

  height: 33px;

  border: none;

  font-size: 20px;

  font-weight: bold;

  text-align: center;

  outline: none;

}



.slick-prev {

  top: 41%;

  left: -12px;

  z-index: 15;



}



.slick-next {

  top: 41.7%;

  right: -12px;

}



.remark {

  margin: 0 auto;

  width: 100%;

  color: #FFC107;

  font-weight: bold;

  direction: rtl;

  text-align: center;

  margin: 20px auto;

}



.only_number {

  text-align: right;

  direction: ltr!important;

}



.js_errorMessage {

  direction: ltr;

}



/* Added recently March 2019 */



span.r_yes, span.r_no {

    display: inline-block;

    padding: 15px;

    width: calc(50% - 15px);

    text-align: center;

    cursor: pointer;

    border-radius: 7px;

    color: #fff !important;

}



label {

    display: block;

}



span.r_yes {

    background: #79b71a;

}



span.r_no {

    background: crimson;

}



#referral {

    display: none;

}



.showthisone {

    display: block !important;

}



label.referred {

    padding: 0 0 15px 0;

    font-size: 18px;

    color: lightyellow;

}


.d-none{
  display: none;
}
.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.header-section .menu-link span {
  width: 34px;
  height: 4px;
  display: block;
  margin: 0 0 6px 0;
  background: #f0c718;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.left{
  float: left;
}
.right{
  float: right;
}
.text-red {
    color: #e8001b!important;
}
.img_promo{
  max-width:100% !important;
  width:100% !important;
}
.fixbox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 990;
}